In [34]:
import pandas as pd
pd.set_option("display.min_rows", 50)
pd.set_option("display.max_rows", 100)

In [35]:
gene_list = pd.read_table("./hgnc_complete_set.txt", header = 0).symbol.to_list()

/var/folders/j6/pp8gryw53252s4wz49ttk4gh0000gp/T/ipykernel_57250/3709584013.py:1: DtypeWarning: Columns (32,34,38,40,50) have mixed types. Specify dtype option on import or set low_memory=False.
  gene_list = pd.read_table("./hgnc_complete_set.txt", header = 0).symbol.to_list()

In [36]:
class solver: 
    def __init__(self, gene_list):
        '''take in a gene list, filter to only 5 letter names
        setup containers for incorrect letters.
        '''

        # define set of incorrect (grey) letters
        self.no_let = set()
        fivelet_genes = []
        for gene in gene_list:
            if len(gene) <= 5:
                fivelet_genes.append(gene)
        split_genes = []
        for gene in fivelet_genes:
            split_genes.append(list(gene))
        split_genes = pd.DataFrame(split_genes)
        split_genes = split_genes.fillna(" ")
        self.split_genes = split_genes
        self.possibilities = split_genes
        # container to track guesses
        self.guesses = []

    def __call__(self):
        return self.possibilities

    def guess(self, word, yellow=[], green=[], add_to_guess_list=True):
        '''
        first arg is a string, case sensitive of the guessed gene
        yellow and green are lists of positions of the yellow or green letters (1-based)
        add_to_guess_list is not needed for normal interaction, just for the self.redo function
        returns a list of possibilities
        '''
        if add_to_guess_list:
            self.guesses.append((word, yellow, green))
        wordlist = list(word)
        # require yellow letters to be in another position
        for position in yellow:
            pypos = position - 1
            self.possibilities = self.possibilities.loc[~self.possibilities[pypos].isin([wordlist[pypos]]),:]
            self.possibilities = self.possibilities.loc[self.possibilities.isin([wordlist[pypos]]).any(axis=1),:]
        # require green letters to be in same position
        for position in green:
            pypos = position - 1
            self.possibilities = self.possibilities.loc[self.possibilities[pypos].isin([wordlist[pypos]]),:]
        # add grey letters to blocked list
        for letter in wordlist:
            yellow_or_green_idx = yellow + green
            if wordlist.index(letter) + 1 not in yellow_or_green_idx:
                self.no_let.add(letter)
        for letter in self.no_let:
            self.possibilities = self.possibilities.loc[~self.possibilities.isin(self.no_let).any(axis=1),:]
        return self.possibilities 
    
    def redo(self):
        # allows rerunning the guesses after editing self.guesses if a mistake was made
        self.possibilities = self.split_genes
        for guess_set in self.guesses:
            self.guess(*guess_set, add_to_guess_list=False)
        return self.__call__()

In [37]:
mysolver = solver(gene_list)
mysolver()

       0  1  2  3  4
0      A  1  B  G
1      A  1  C  F
2      A  2  M
3      A  2  M  L  1
4      A  2  M  P  1
5      A  4  G  N  T
6      A  A  A  S
7      A  A  C  S
8      A  A  D  A  C
9      A  A  D  A  T
10     A  A  G  A  B
11     A  A  K  1
12     A  A  M  D  C
13     A  A  M  P
14     A  A  N  A  T
15     A  A  R  2
16     A  A  R  D
17     A  A  R  S  1
18     A  A  R  S  2
19     A  A  S  D  H
20     A  A  S  S
21     A  A  T  B  C
22     A  A  T  F
23     A  A  T  K
24     A  A  V  S  1
...   .. .. .. .. ..
11820  Z  N  R  F  2
11821  Z  N  R  F  3
11822  Z  N  R  F  4
11823  Z  P  1
11824  Z  P  2
11825  Z  P  3
11826  Z  P  3  P  1
11827  Z  P  3  P  2
11828  Z  P  4
11829  Z  P  A  X  P
11830  Z  P  B  P
11831  Z  P  B  P  2
11832  Z  P  L  D  1
11833  Z  P  R  1
11834  Z  R  S  R  2
11835  Z  U  P  1
11836  Z  W  1  0
11837  Z  W  I  N  T
11838  Z  X  D  A
11839  Z  X  D  B
11840  Z  X  D  C
11841  Z  Y  X
11842  Z  Y  X  P  1
11843  Z  Z  E  F  1
11844  Z  Z  Z  3

[11845 rows x 5 columns]

In [38]:
mysolver.guess("RPS3 ", yellow=[], green=[3])

       0  1  2  3  4
19     A  A  S  D  H
144    A  C  S  F  2
146    A  C  S  L  1
148    A  C  S  L  4
149    A  C  S  L  5
150    A  C  S  L  6
151    A  C  S  M  1
153    A  C  S  M  4
154    A  C  S  M  5
155    A  C  S  M  6
156    A  C  S  S  1
157    A  C  S  S  2
242    A  D  S  S  1
243    A  D  S  S  2
304    A  H  S  A  1
858    B  B  S  1  0
859    B  B  S  1  2
898    B  C  S  1  L
913    B  E  S  T  1
914    B  E  S  T  2
916    B  E  S  T  4
1201   C  A  S  C  2
1203   C  A  S  C  6
1204   C  A  S  C  8
1205   C  A  S  C  9
...   .. .. .. .. ..
10178  S  U  S  D  4
10179  S  U  S  D  5
10180  S  U  S  D  6
10444  T  E  S  H  L
10445  T  E  S  K  1
10446  T  E  S  K  2
10549  T  H  S  D  1
10550  T  H  S  D  4
10551  T  H  S  D  8
10945  T  S  S  C  2
10946  T  S  S  C  4
10947  T  S  S  K  2
10949  T  S  S  K  4
10950  T  S  S  K  6
11035  T  U  S  C  1
11036  T  U  S  C  2
11038  T  U  S  C  7
11039  T  U  S  C  8
11046  T  W  S  G  1
11305  U  T  S  2  B
11309  U  V  S  S  A
11324  V  A  S  H  1
11325  V  A  S  H  2
11448  W  A  S  F  1
11449  W  A  S  F  2

[149 rows x 5 columns]

In [39]:
mysolver.guess("RPS3 ", yellow=[], green=[3])

       0  1  2  3  4
19     A  A  S  D  H
144    A  C  S  F  2
146    A  C  S  L  1
148    A  C  S  L  4
149    A  C  S  L  5
150    A  C  S  L  6
151    A  C  S  M  1
153    A  C  S  M  4
154    A  C  S  M  5
155    A  C  S  M  6
156    A  C  S  S  1
157    A  C  S  S  2
242    A  D  S  S  1
243    A  D  S  S  2
304    A  H  S  A  1
858    B  B  S  1  0
859    B  B  S  1  2
898    B  C  S  1  L
913    B  E  S  T  1
914    B  E  S  T  2
916    B  E  S  T  4
1201   C  A  S  C  2
1203   C  A  S  C  6
1204   C  A  S  C  8
1205   C  A  S  C  9
...   .. .. .. .. ..
10178  S  U  S  D  4
10179  S  U  S  D  5
10180  S  U  S  D  6
10444  T  E  S  H  L
10445  T  E  S  K  1
10446  T  E  S  K  2
10549  T  H  S  D  1
10550  T  H  S  D  4
10551  T  H  S  D  8
10945  T  S  S  C  2
10946  T  S  S  C  4
10947  T  S  S  K  2
10949  T  S  S  K  4
10950  T  S  S  K  6
11035  T  U  S  C  1
11036  T  U  S  C  2
11038  T  U  S  C  7
11039  T  U  S  C  8
11046  T  W  S  G  1
11305  U  T  S  2  B
11309  U  V  S  S  A
11324  V  A  S  H  1
11325  V  A  S  H  2
11448  W  A  S  F  1
11449  W  A  S  F  2

[149 rows x 5 columns]

In [40]:
mysolver.guess("BEST4", yellow=[], green=[3])

       0  1  2  3  4
19     A  A  S  D  H
144    A  C  S  F  2
146    A  C  S  L  1
149    A  C  S  L  5
150    A  C  S  L  6
151    A  C  S  M  1
154    A  C  S  M  5
155    A  C  S  M  6
156    A  C  S  S  1
157    A  C  S  S  2
242    A  D  S  S  1
243    A  D  S  S  2
304    A  H  S  A  1
1201   C  A  S  C  2
1203   C  A  S  C  6
1204   C  A  S  C  8
1205   C  A  S  C  9
1206   C  A  S  D  1
1217   C  A  S  Q  1
1218   C  A  S  Q  2
1222   C  A  S  Z  1
1723   C  H  S  Y  1
1758   C  I  S  D  1
1759   C  I  S  D  2
1856   C  M  S  S  1
2503   D  I  S  C  1
2504   D  I  S  C  2
2697   D  U  S  1  L
3221   F  A  S  L  G
3447   F  O  S  L  1
3448   F  O  S  L  2
3788   G  C  S  A  M
4546   H  I  S  L  A
4903   I  G  S  F  1
4905   I  G  S  F  5
4906   I  G  S  F  6
4907   I  G  S  F  8
4908   I  G  S  F  9
5018   I  N  S  L  5
5019   I  N  S  L  6
5020   I  N  S  M  1
5021   I  N  S  M  2
5188   J  O  S  D  1
5189   J  O  S  D  2
5214   K  A  S  H  5
5369   K  I  S  S  1
5563   L  A  S  1  L
5981   M  A  S  1  L
6163   M  F  S  D  1
6165   M  F  S  D  5
6166   M  F  S  D  6
6167   M  F  S  D  8
6168   M  F  S  D  9
6235   M  I  S  1  2
6236   M  I  S  F  A
6305   M  M  S  1  9
6344   M  O  S  M  O
6441   M  S  S  5  1
6559   M  U  S  8  1
6666   M  Y  S  M  1
6907   N  H  S  L  1
6908   N  H  S  L  2
6922   N  I  S  C  H
9394   S  A  S  H  1
9396   S  A  S  S  6
9589   S  G  S  M  1
9590   S  G  S  M  2
10175  S  U  S  D  1
10176  S  U  S  D  2
10179  S  U  S  D  5
10180  S  U  S  D  6
11309  U  V  S  S  A
11324  V  A  S  H  1
11325  V  A  S  H  2
11448  W  A  S  F  1
11449  W  A  S  F  2

In [41]:
mysolver.guess("DISC1", yellow=[], green=[3])

       0  1  2  3  4
3221   F  A  S  L  G
3448   F  O  S  L  2
5214   K  A  S  H  5
6344   M  O  S  M  O
6908   N  H  S  L  2
9396   S  A  S  S  6
9590   S  G  S  M  2
11309  U  V  S  S  A
11325  V  A  S  H  2
11449  W  A  S  F  2

In [42]:
mysolver.guess("VASH2", yellow=[], green=[3])

      0  1  2  3  4
6344  M  O  S  M  O