In [47]:
import pandas as pd
pd.set_option("display.max_rows", 500)

gene_list = pd.read_table("./salmon_tx2gene.tsv", header = None)

In [48]:
gene_list = gene_list.loc[:,1].drop_duplicates().to_list()

In [49]:
class solver: 
    def __init__(self, gene_list):
        self.no_let = set()
        fivelet_genes = []
        for gene in gene_list:
            if len(gene) <= 5:
                fivelet_genes.append(gene)
        split_genes = []
        for gene in fivelet_genes:
            split_genes.append(list(gene))
        split_genes = pd.DataFrame(split_genes)
        split_genes = split_genes.fillna(" ")
        self.split_genes = split_genes
        self.possibilities = split_genes
        self.guesses = []

    def __call__(self):
        return self.possibilities

    def guess(self, word, yellow = [], green = []):
        self.guesses.append((word, yellow, green))
        wordlist = list(word)
        for position in yellow:
            pypos = position - 1
            self.possibilities = self.possibilities.loc[~self.possibilities[pypos].isin([wordlist[pypos]]),:]
            self.possibilities = self.possibilities.loc[self.possibilities.isin([wordlist[pypos]]).any(axis=1),:]
        for position in green:
            pypos = position - 1
            self.possibilities = self.possibilities.loc[self.possibilities[pypos].isin([wordlist[pypos]]),:]
        for letter in wordlist:
            yellow_or_green_idx = yellow + green
            if wordlist.index(letter) + 1 not in yellow_or_green_idx:
                self.no_let.add(letter)
        for letter in self.no_let:
            self.possibilities = self.possibilities.loc[~self.possibilities.isin(self.no_let).any(axis=1),:]
        return self.possibilities 
    
    def redo(self):
        for guess_set in self.guesses:
            self.guess(*guess_set)

In [50]:
pd.options.display.max_rows = 500
mysolver = solver(gene_list)
mysolver()

       0  1  2  3  4
0      O  R  4  F  5
1      O  R  4  F  3
2      N  O  C  2  L
3      P  E  R  M  1
4      H  E  S  4
...   .. .. .. .. ..
10884  D  A  Z  3
10885  D  A  Z  2
10886  T  T  T  Y  3
10887  C  D  Y  1  B
10888  C  D  Y  1

[10889 rows x 5 columns]

In [51]:
mysolver.guess("GAPDH", yellow=[2], green=[])

       0  1  2  3  4
12     M  X  R  A  8
14     V  W  A  1
40     A  C  O  T  7
103    A  C  T  L  8
109    A  K  R  7  L
...   .. .. .. .. ..
10824  U  B  L  4  A
10834  F  8  A  1
10835  F  8  A  3
10836  F  8  A  2
10853  A  M  E  L  Y

[844 rows x 5 columns]

In [52]:
mysolver.guess("MXRA8", yellow=[4], green=[3])

       0  1  2  3  4
109    A  K  R  7  L
785    F  C  R  L  A
849    T  O  R  3  A
1876   E  S  R  R  A
1994   A  R  R  B  1
2197   A  C  R  V  1
3403   A  Q  R
4158   A  B  R
4205   A  R  R  B  2
4266   A  U  R  K  B
5628   A  U  R  K  C
6380   A  T  R  N
6600   A  U  R  K  A
6750   A  I  R  E
7004   A  C  R
7455   A  T  R
9046   A  I  R  N
9882   E  F  R  3  A
10270  T  O  R  2  A
10300  T  O  R  1  A
10381  T  O  R  4  A
10613  A  R  R  3
10630  A  C  R  C

In [53]:
mysolver.guess("AIRN ", yellow=[], green=[1,3,5])

       0  1  2  3  4
3403   A  Q  R
4158   A  B  R
7004   A  C  R
7455   A  T  R
10613  A  R  R  3
10630  A  C  R  C

In [54]:
mysolver.guess("AQR  ", yellow=[], green=[1,3,4,5])

      0  1  2  3  4
4158  A  B  R
7004  A  C  R
7455  A  T  R

In [55]:
mysolver.guess("ATR  ", yellow=[], green=[1,3,4,5])

      0  1  2  3  4
4158  A  B  R
7004  A  C  R

In [56]:
mysolver.guess("ACR  ", yellow=[], green=[1,2,3,4,5])

      0  1  2  3  4
7004  A  C  R