In [43]:
import pandas as pd
pd.set_option("display.min_rows", 50)
pd.set_option("display.max_rows", 100)

gene_list = pd.read_table("./salmon_tx2gene.tsv", header = None)

In [44]:
gene_list = gene_list.loc[:,1].drop_duplicates().to_list()

In [62]:
class solver: 
    def __init__(self, gene_list):
        '''take in a gene list, filter to only 5 letter names
        setup containers for incorrect letters.
        '''

        # define set of incorrect (grey) letters
        self.no_let = set()
        fivelet_genes = []
        for gene in gene_list:
            if len(gene) <= 5:
                fivelet_genes.append(gene)
        split_genes = []
        for gene in fivelet_genes:
            split_genes.append(list(gene))
        split_genes = pd.DataFrame(split_genes)
        split_genes = split_genes.fillna(" ")
        self.split_genes = split_genes
        self.possibilities = split_genes
        # container to track guesses
        self.guesses = []

    def __call__(self):
        return self.possibilities

    def guess(self, word, yellow=[], green=[], add_to_guess_list=True):
        '''
        first arg is a string, case sensitive of the guessed gene
        yellow and green are lists of positions of the yellow or green letters (1-based)
        add_to_guess_list is not needed for normal interaction, just for the self.redo function
        returns a list of possibilities
        '''
        if add_to_guess_list:
            self.guesses.append((word, yellow, green))
        wordlist = list(word)
        # require yellow letters to be in another position
        for position in yellow:
            pypos = position - 1
            self.possibilities = self.possibilities.loc[~self.possibilities[pypos].isin([wordlist[pypos]]),:]
            self.possibilities = self.possibilities.loc[self.possibilities.isin([wordlist[pypos]]).any(axis=1),:]
        # require green letters to be in same position
        for position in green:
            pypos = position - 1
            self.possibilities = self.possibilities.loc[self.possibilities[pypos].isin([wordlist[pypos]]),:]
        # add grey letters to blocked list
        for letter in wordlist:
            yellow_or_green_idx = yellow + green
            if wordlist.index(letter) + 1 not in yellow_or_green_idx:
                self.no_let.add(letter)
        for letter in self.no_let:
            self.possibilities = self.possibilities.loc[~self.possibilities.isin(self.no_let).any(axis=1),:]
        return self.possibilities 
    
    def redo(self):
        # allows rerunning the guesses after editing self.guesses if a mistake was made
        self.possibilities = self.split_genes
        for guess_set in self.guesses:
            self.guess(*guess_set, add_to_guess_list=False)
        return self.__call__()

In [63]:
mysolver = solver(gene_list)
mysolver()

       0  1  2  3  4
0      O  R  4  F  5
1      O  R  4  F  3
2      N  O  C  2  L
3      P  E  R  M  1
4      H  E  S  4
5      I  S  G  1  5
6      A  G  R  N
7      S  D  F  4
8      A  C  A  P  3
9      P  U  S  L  1
10     C  P  T  P
11     D  V  L  1
12     M  X  R  A  8
13     C  C  N  L  2
14     V  W  A  1
15     S  S  U  7  2
16     M  I  B  2
17     N  A  D  K
18     G  N  B  1
19     G  A  B  R  D
20     P  R  K  C  Z
21     S  K  I
22     M  O  R  N  1
23     R  E  R  1
24     P  E  X  1  0
...   .. .. .. .. ..
10864  V  C  Y
10865  X  K  R  Y  2
10866  X  K  R  Y
10867  C  D  Y  2  B
10868  C  D  Y  2  A
10869  H  S  F  Y  2
10870  H  S  F  Y  1
10871  C  D  2  4
10872  K  D  M  5  D
10873  P  R  O  R  Y
10874  P  R  Y  2
10875  P  R  Y
10876  T  T  T  Y  6
10877  T  T  T  Y  5
10878  T  T  T  Y  4
10879  B  P  Y  2  C
10880  B  P  Y  2  B
10881  B  P  Y  2
10882  D  A  Z  4
10883  D  A  Z  1
10884  D  A  Z  3
10885  D  A  Z  2
10886  T  T  T  Y  3
10887  C  D  Y  1  B
10888  C  D  Y  1

[10889 rows x 5 columns]

In [47]:
mysolver.guess("DAZ3 ", yellow=[1,2], green=[])

       0  1  2  3  4
80     F  H  A  D  1
134    K  D  M  1  A
183    A  H  D  C  1
214    H  D  A  C  1
252    C  D  C  A  8
297    K  D  M  4  A
371    I  N  A  D  L
402    A  C  A  D  M
504    A  M  P  D  2
544    A  M  P  D  1
559    G  D  A  P  2
675    F  L  A  D  1
856    A  C  B  D  6
1161   A  C  B  D  7
1189   A  C  B  D  5
1280   N  O  D  A  L
1311   V  D  A  C  2
1334   A  D  I  R  F
1336   A  T  A  D  1
1459   A  D  R  B  1
1518   A  D  A  M  8
1633   T  E  A  D  1
1888   C  D  C  A  5
1942   K  D  M  2  A
1974   P  D  E  2  A
...   .. .. .. .. ..
9234   A  D  C  Y  1
9348   P  D  A  P  1
9500   K  D  M  7  A
9503   A  D  C  K  2
9539   P  D  I  A  4
9638   A  D  A  M  7
9644   C  D  C  A  2
9687   A  D  A  M  9
9688   A  D  A  M  5
9689   A  D  A  M  2
9740   P  D  E  7  A
9767   G  D  A  P  1
9827   N  C  A  L  D
9868   A  T  A  D  2
9881   A  D  C  Y  8
9940   A  D  C  K  5
9996   F  O  C  A  D
10173  A  L  D  O  B
10460  P  D  H  A  1
10499  K  D  M  6  A
10532  H  D  A  C  6
10602  E  D  A  2  R
10636  H  D  A  C  8
10803  A  B  C  D  1
10868  C  D  Y  2  A

[155 rows x 5 columns]

In [59]:
mysolver.guess("HDAC4", yellow=[2], green=[3])

       0  1  2  3  4
10     C  P  T  P
13     C  C  N  L  2
60     C  O  R  T
70     C  L  C  N  6
82     C  T  R  C
94     C  R  O  C  C
131    C  1  Q  C
132    C  1  Q  B
147    C  N  R  2
155    C  L  I  C  4
237    C  L  S  P  N
246    C  S  F  3  R
279    C  T  P  S  1
328    C  M  P  K  1
344    C  P  T  2
361    C  8  B
396    C  T  H
399    C  R  Y  Z
418    C  T  B  S
424    C  Y  R  6  1
433    C  C  B  L  2
459    C  N  N  3
493    C  L  C  C  1
510    C  S  F  1
516    C  Y  M  P
...   .. .. .. .. ..
10282  C  O  Q  4
10291  C  C  B  L  1
10321  C  E  L
10322  C  E  L  P
10367  C  8  G
10371  C  L  I  C  3
10390  C  R  L  F  2
10418  C  L  C  N  4
10445  C  T  P  S  2
10480  C  Y  B  B
10500  C  H  S  T  7
10513  C  F  P
10556  C  C  N  B  3
10631  C  X  C  R  3
10639  C  H  I  C  1
10651  C  O  X  7  B
10661  C  Y  L  C  1
10666  C  H  M
10673  C  S  T  F  2
10676  C  E  N  P  I
10722  C  T  8  3
10731  C  U  L  4  B
10793  C  E  T  N  2
10837  C  M  C  4
10841  C  L  I  C  2

[619 rows x 5 columns]

In [49]:
mysolver.guess("SMAD7", yellow=[], green=[3,4])

      0  1  2  3  4
371   I  N  A  D  L
675   F  L  A  D  1
1336  A  T  A  D  1
1633  T  E  A  D  1
4012  T  R  A  D  D
4372  A  T  A  D  5
5508  T  E  A  D  2
8815  E  V  A  D  R
9868  A  T  A  D  2

In [50]:
mysolver.guess("TRADD", yellow=[1], green=[3,4])

      0  1  2  3  4
1336  A  T  A  D  1
4372  A  T  A  D  5
9868  A  T  A  D  2

In [51]:
mysolver.guess("ATAD2", yellow=[], green=[1,2,3,4])

      0  1  2  3  4
1336  A  T  A  D  1
4372  A  T  A  D  5

In [52]:
mysolver.guess("ATAD1", yellow=[], green=[1,2,3,4,5])

      0  1  2  3  4
1336  A  T  A  D  1